{% extends 'base/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Password Reset Email Sent - Kajabi Webinar Manager{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Password Reset Email Sent</h3>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                </div>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <div class="d-grid">
                    <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}